@byted:registry=http://bnpm.byted.org
@byted-service:registry=http://bnpm.byted.org
@bytesso:registry=http://bnpm.byted.org

@jerryc05:registry=https://registry.npmjs.org



fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=3000
